In [3]:
#1 convert an integer to a floating-point number.

num = 34

floting =float(num)

print(floting)

34.0

In [6]:
#2 convert a float to an integer.

my_floating = 385

my_integer = int(my_floating)

print(my_floating)

385

In [9]:
#3 convert an integer to a string

my_integer = 545

my_string = str(my_integer)

print(my_string)

545

In [ ]:
#4 convert a list to a tuple.

my_list = [1, 2, 3, "prashant", "mangesh"]

m