In [4]:
#1 convert an integer to a floating-point number.
num = 55

floting = float(num)

print(floting)

55.0

In [6]:
#2 covert a flot to an integer.
num = 5.6

intiger = int(num)

print(intiger)

5

In [12]:
# convert integer to a string.

num = 57

string = str(num)

print(string)

57

In [16]:
#4 convert a list to a tuple

my_list = [1,2,3,"prashant"]

mytuple = tuple(my_list)

print("x", "=", my_list)

x = [1, 2, 3, 'prashant']

In [21]:
#5 convert tuple to a list.

my_tuple =["prashant", "aniket", "ranjt", "manoj"]

my_tuple = list(my_tuple)

print("y","=",my_tuple)

y = ['prashant', 'aniket', 'ranjt', 'manoj']

In [ ]:
#6 convert decimal number to binary number.

decimal_number = 3

decimal_number = bin(decimal_number)

print(decimal_number)